/* Mobile devices */
@media only screen and (max-width: 1026px) {


  #info,.card-deck,  #footer,  #title>span {
    visibility: hidden !important;
  }

  #mobiledeck {
    position: fixed;
    top: 10px;
    padding:5px;
    left: 10px;
    font-size: 10px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: block;
    visibility: visible;
  }

  .mobiletitle {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  #mobiledeck>p {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
  }

  .placename {
    font-size: 20px;
    position: relative;
    font-family: 'Oswald', sans-serif;
    margin-left:5px;
  }
}
