
html, body, #mymap { width: 100%; height: 100%; background: #222;}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mymap {
  z-index: 0;
}
