html,
body,
main,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  /* margin-bottom: 0rem; */
  font-size: xxx-large;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 0 6px rgba(0, 0, 0, .95);
}

h2 {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  background-color: #3b3b3b;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

h5 {
  font-size: x-large;
  text-align: center;
}

p {
  line-height: 1.5;
}


#scrolly {
  /* position: relative; */
}

.canvas-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fullscreen {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  /* margin: 0; */
  /*pointer-events: none;*/
}

#cover {
  width: 100%;
  height: 100%;
  background: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

#introPanel {
  position: relative;
  top: 32%;
  left: 50%;
  transform: translateX(-50%) translateY(-32%);
  width: 50%;
  color: #fff;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 0 6px rgba(0, 0, 0, .95);
}

#introPanel .logos {
  text-align: right;
}

#introPanel .logos a {
  margin-right: 0.5rem;
  vertical-align: top;
}

#introPanel .logos span {
  position: relative;
  bottom: -0.5rem;
  color: #fff;
  text-shadow: 0 0 6px rgba(0, 0, 0, .95);
  font-style: italic;
  font-size: small;
}

#storyboard {
  position: -webkit-sticky;
  position: sticky;
}

.step {
  position: relative;
  max-width: 40rem;
  /* margin: 0 auto 0 auto; */
  margin: 0 auto 0 4rem;
  padding: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.step:first-child {
  margin-top: -30%;
}

.step:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.step.is-active h2 {
  background-color: goldenrod;
  color: #3b3b3b;
}

.step p {
  padding-left: 1rem;
  padding-right: 1rem;
  color: black;
  text-shadow: 0 0 6px white;
}

#footer {
  width: 100%;
  /* height: 30vh; */
  color: white;
  background: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.cards {
  font-size: xxx-large
}

.cards p {
  line-height: normal;
  margin: 1rem;
}

[data-step="5"] img {
  display: block;
  margin: 2rem auto 0 auto;
  width: 90%;
  border: 5px solid white;
}

[data-step="6"] {
  background: url("../img/test.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto 0 auto !important;
  height: 100vh !important;
}
